*{
    background-color: lightyellow;
    max-width: 75ch;
    margin: auto;
}

.centered{
    text-align: center;
}

.img{
    width: 200px;
    height: auto;
}

.mila{
    width: 400px;
    height: auto;
}
